

.alice-carousel__dots-item:not(.__custom){
  height: 12px;
  width: 12px;
  background-color: lightgray;
}
.alice-carousel__dots-item:not(.__custom).__active{
    background-color: #D45C28;
    height: 12px;
    width: 12px;
}